body {
  background-color: #fafafa;
}

.wp-block {
  max-width: 800px;

  &[data-align="full"] {
    max-width: none;
  }

  &[data-align="wide"] {
    max-width: 1000px;
  }
}


.has-white-background-color {
  background-color: #fff;
}

.has-white-color {
  color: #fff;
}

.has-primary-background-color {
  background-color: #4169e1;
}

.has-primary-color {
  color: #4169e1;
}